body{
    background-color: rgb(212, 205, 202);
}
table{
    background-color: lightgray;
}

th{
    border-color: black;
    background-color: bisque;
    height: 100px;
    width: 20px;
    text-align: center;

}
td{
    text-align: center;
    
}
table{
    border: black;
    height:600px;
    width: 80%;
    margin-top: 6%;
    margin-left: 11%; 
}
.theory{
    height:30px;
   
    
}
.slot:hover{
    background-color: aquamarine;
}
.slot{
    background-color: lightgoldenrodyellow;
    transition: background-color 0.1s steps(100);
}
.slot.toggled{
    background-color: aquamarine;
}


.lab{
    background-color: burlywood;
    transition: background-color 0.1s step-end;
    transition: background-color 0.1s steps(100);
}
.lab:hover{
    background-color: aquamarine;
}
.violet{
    background-color: aqua;
}
.thtime{
    background-color: rgb(196, 163, 229);
}
.labtime{
    background-color: rgb(120, 182, 240);
}
.diva{
    display: inline;
    margin-top: 10%;
    margin-left: 23%;
    height: 50%;
    border: 50%;
    
}
.labs{
    display: inline;
    margin-top: 10%;
    margin-left: 23%;
    height: 50%;
    border: 50%;
    
}
.notesarea{
    display: inline;
}
.right-bottom-area {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 30%;
    height: 20%;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
#laboutput{
    display: inline;
    background-color: red;
    width: 300px;
    margin-left: 100px;
}